.header{
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.header-title h1{
    font-size: 2.7rem;
    color: darkred;
    text-align: center;
}
.header-title h1 span{
    font-size: 3rem;
    color: black;
}

.header-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: rgb(124, 121, 121);
}
